.textarea-comentario
{
/*width:800px;*/ /*Esto solo afecta al celular siempre y cuando en JS lo seties para la PC*/
/*height:300px;*/ /*Esto solo afecta al celular*/
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
}

/*Estos botones son los del celular, no los de la mac*/
.botones
{
/*width:400px;  Teoricamente solo debe afectar al cel si en JS lo seteas*/
/*height:150px; */
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
}

.label_de_cesar
{
background-color:Gray; 
color:white;
font:Verdana, Geneva, sans-serif;
/*font-size:60px; en teoria solo debe aftar al cel si la pc la seteas en js*/
}
.comentarios_de_cesar
{
background-color:Gray; 
color:black;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
text-align: left;
}

.label_de_juan
{
background-color:DodgerBlue; 
color:white;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
}
.comentarios_de_juan
{
background-color:DodgerBlue; 
color:black;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
text-align: left;
}

.label_de_gogo
{
background-color:SlateBlue; 
color:white;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
}
.comentarios_de_gogo
{
background-color:SlateBlue; 
color:black;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
text-align: left;
}

.label_de_martha
{
background-color:MediumSeaGreen; 
color:white;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
}
.comentarios_de_martha
{
background-color:MediumSeaGreen; 
color:black;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
text-align: left;
}

.label_de_liz
{
background-color:Violet;
color:white;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
}
.comentarios_de_liz
{
background-color:Violet;
color:black;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
text-align: left;
}

.label_de_jacqui
{
background-color:Orange;
color:white;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
}
.comentarios_de_jacqui
{
background-color:Orange;
color:black;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
text-align: left;
}

.label_de_mario
{
background-color:Tomatoe;
color:white;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
}
.comentarios_de_mario
{
background-color:Tomatoe;
color:black;
font:Verdana, Geneva, sans-serif;
/*font-size:60px;*/
text-align: left;
}

/* Para meterle bordes a la tabla*/
/* Pero no quiero afectar al menu...*/
.borde_en_tabla
{
  border: 1px solid black;
  border-collapse: collapse;
}